/* Charity Finder App CSS */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    padding: 0;
    margin: 0;
    background: #CFE0F9;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
select,
label,
small {
    font-family: 'Montserrat', sans-serif;
}
.mainContent {
    display: grid;
    grid-template-columns: auto 700px auto;
    grid-template-rows: 50px auto auto auto;  
    justify-items: center;  
    background: #0948AB;
    padding-bottom: 3rem;
}
.heroContainer {
    grid-column: 2;
    grid-row: 2;
    max-width: 640px;
    padding-bottom: 0.8rem;
    border-bottom: 3px solid #19A793;    
}
.siteTitle {
    font-weight: 600;
    text-transform: uppercase;
    color: #E65D6E;
    padding-bottom: 0.3rem;
    border-bottom: 8px solid #19A793;
    margin: 0;
}
.siteTagline {
    font-size: calc(1.2rem + 1vw);
    text-transform: uppercase;    
    color: #EA9B82;
    margin: 2.5rem 0 0;
}
.siteDescription p {
    font-size: 1.1rem;
    color: #FBEBE6;
}
.charityFinder {
    grid-column: 2;
    grid-row: 4;
    max-width: 640px;
}
form {
    display: flex;
    flex-flow: column wrap;
    padding-top: 1.5rem;            
}
select {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    max-width: 550px;
    padding: 0.8rem 0;
    background: #E5BF4E;
    color: #19A793;
    border: 4px solid #19A793;  
}
.charitySelectLabel {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0 0.2rem;
    color: #EA9B82; 
}
.charitySelectDescription {
    text-align: center;
    font-size: 1.1rem;
    color: #FBEBE6;
    font-weight: 600;
}
.charityResults {
    background: #CFE0F9;
}
small {
    font-weight: 600;
    text-transform: uppercase;
    color: #0948AB;
}
.charityItem {
    display: none;
    max-width: 550px;
    padding: 1rem 0 2rem;
    margin: 0 auto 1rem;
    border-bottom: 2px solid #0948AB;            
    word-wrap: break-word;
}
.charityItem:last-of-type {
    border-bottom: none;
}
.charityName {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #0948AB;
    margin: 0.2rem 0 0;
}
.charityCategory {
    font-size: calc(0.8rem + 0.2vw);  
    text-transform: uppercase;
    color: #19A793;
    margin: 0.6rem 0;
}
.charityLocation {
    text-transform: uppercase;
    color: #E65D6E;
    margin: 0.8rem 0 1.5rem;
}
.charityLocation span {
    text-transform: capitalize;
}
.missionStatement {
    font-weight: 600;
    color: #0948AB;
    margin: 0.4rem 0 1.5rem 0;
}
.donateButton {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;    
    text-transform: uppercase;
    text-decoration: none; 
    padding: 0.6rem 2rem;   
    color: #0948AB;
    background: #E5BF4E;
    border: 3px solid #19A793;
}
.hide {
    display: none;
}
.show {
    display: block;
}